.nomtes-icon{
  height: 150px;
}
.nomtes-title{
  color: white;
  font-size: 3em;
  margin-top: 15px;
  font-weight: 600;
}
.nomtes-subtitle{
  color: white;
  margin-left: 10px;
}

.nomtes-info{
  color: white;
}

.nomtes-more{
  background-color: #31ccf9;
  border-color: #31ccf9;
}
.nomtes-more:hover{
  opacity: 0.6;
  background-color: #31ccf9;
  border-color: #31ccf9;
}

.nomtes-cont{
  margin: 10px;
}

.imgProfile{
  max-height: 150px;
  margin-top: 20px;
  border-radius: 50%;
}

.imgAndroid{
  max-height: 20px;
}

.profileCont{
  min-height: 300px;
}

.skills-list{
  list-style: none;
  padding: 0;
}
.skills-list li{
  padding-bottom: 10px;
}

.skills-list li i {
  font-size: 20px;
    padding-right: 4px;
    color: #1bb1dc;
}