.nomtes-main-cont{
  background-color: #1bb1dc;
    border-radius: 5px;
    padding: 15px;
    margin-top: 10px;
    box-shadow: 0 0px 20px 1px #0000003b;
    margin-bottom: 10px;
    padding-left: 25px;
}
.nomtes-icon{
  height: 150px;
  margin-left: -15px;
  display: table-cell;
}
.nomtes-title{
  color: white;
  font-size: 3em;
  margin-top: 15px;
  font-weight: 600;
}
.nomtes-subtitle{
  color: white;
  vertical-align: top;
  display: table-cell;
  padding-left: 10px;
}

.nomtes-info{
  color: white;
  margin: 0 0 20px 0;
}

.nomtes-more{
  background-color: #31ccf9;
  border-color: #31ccf9;
}
.nomtes-more:hover{
  opacity: 0.6;
  background-color: #31ccf9;
  border-color: #31ccf9;
}

.nomtes-cont{
  margin: 10px;
}

.imgProfile{
  max-height: 150px;
  margin-top: 20px;
  border-radius: 50%;
}

.imgAndroid{
  max-height: 22px;
  display: table-cell;
}

.profileCont{
  min-height: 300px;
}

.skills-list{
  list-style: none;
  padding: 0;
}
.skills-list li{
  padding-bottom: 10px;
}

.skills-list li i {
  font-size: 20px;
    padding-right: 4px;
    color: #1bb1dc;
}